.market_caps_limit {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  font-size: 1rem;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  height: 2.2rem;
  line-height: 2.2rem
}
